.vscode/
*.swp
*.tmp
*.log
*.bin
*.hex
*.elf
*.map
*.lst
*.d
*.o
*.obj
*.a
/build/
firmware/build/
firmware/**/*.o
firmware/**/*.d
firmware/**/*.lst
firmware/**/*.bin
firmware/**/*.hex
firmware/**/*.elf
firmware/**/*.map
